.wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.img {
  width: 100px;
  height: 150px;
}

.ComparisonImage-wrapper{
  display: flex;
  justify-content: center;
}



.ComparisonImage {
  position: relative;
  width: 500px;
  height: 700px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
}
.ComparisonImage__img {
  width: 500px;
  height: 700px;
}
.ComparisonImage__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  overflow: hidden;
  border-right: 1px solid #c4c4c4;
}
.ComparisonImage__slider {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: ew-resize;
} 
